<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SQuIDS"
            id="SQuIDS.commands.category">
      </category>
      <command
            name="Analyze selected projects"
            categoryId="SQuIDS.commands.category"
            id="SQuIDS.commands.analyzeSelectedProjects">
      </command>
      <command
            name="Analyze all projects"
            categoryId="SQuIDS.commands.category"
            id="SQuIDS.commands.analyzeAllProjects">
      </command>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="SQuIDS.commands.analyzeSelectedProjects"
            class="squids.handlers.Handler">
      </handler>
      <handler
            commandId="SQuIDS.commands.analyzeAllProjects"
            class="squids.handlers.Handler">
      </handler>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SQuIDS.commands.analyzeSelectedProjects"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="SQuIDS.commands.analyzeAllProjects"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="SQuIDS"
               mnemonic="M"
               id="SQuIDS.menus.commands">
            <command
                  commandId="SQuIDS.commands.analyzeSelectedProjects"
                  mnemonic="S"
                  id="SQuIDS.menus.analyzeSelectedProjects">
            </command>
            <command
                  commandId="SQuIDS.commands.analyzeAllProjects"
                  mnemonic="A"
                  id="SQuIDS.menus.analyzeAllProjects">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="SQuIDS.toolbars.analyzeToolbar">
            <command
                  commandId="SQuIDS.commands.analyzeSelectedProjects"
                  icon="icons/sample.gif"
                  tooltip="Analyze selected projects"
                  id="SQuIDS.toolbars.analyzeSelectedProjects">
            </command>
            <command
                  commandId="SQuIDS.commands.analyzeAllProjects"
                  icon="icons/sample.gif"
                  tooltip="Analyze all projects"
                  id="SQuIDS.toolbars.analyzeAllProjects">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   
   
   <extension id="javaqualitymarker" point="org.eclipse.core.resources.markers"/>
   
   
   
   <extension
         id="javaqualityissue"
         name="SQuIDS Java maintainability problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="SQuIDS.javaqualitymarker"/>
      <persistent value="true"/>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="SQuIDS.javaqualityissue"
            name="SQuIDS.javaqualityissue"
            super="org.eclipse.ui.workbench.texteditor.error"
            markerSeverity="2"/>
   </extension>



   <extension id="javaqualityissueannotationspecification" name="Java Quality Issue Annotation Specification"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification annotationType="SQuIDS.javaqualityissue"
            label="Java Quality Issue Annotation Specification"
            showInNextPrevDropdownToolbarAction="true"
            isGoToPreviousNavigationTarget="true"
            isGoToNextNavigationTarget="true"
            includeOnPreferencePage="false"
            contributesToHeader="true"
            symbolicIcon="error"
            	/>
   	</extension>
   	
   	
   	
   	<extension point="org.eclipse.ui.views">
    	<view id="squids.view.cisqreport"
    		name="CISQ Report"
          	class="squids.view.CISQReport"
          	icon="icons/sample.gif"/>
	</extension>
   	
   	
   	
   <extension
       	 id="squids.properties.Properties"
         point="org.eclipse.ui.propertyPages">
         <page
         	id="squids.properties.Properties"
	     	class="squids.properties.Properties"
         	name="SQuIDS settings"
         	icon="icons/sample.gif">
         </page>
   </extension>

</plugin>
